*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    /* border:2px solid teal; */
    width:40%;
    margin:auto;
    
    
   padding-top:0.5rem;
   margin-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
}
.formDiv{
    position: relative;
   
}
.label {
    position: absolute;
   
    top: 40%;
    left: 2%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none; 
    transition: transform 0.2s ease-out, font-size 0.2s ease-out;
  }

  
  .inputBox:focus + .label {

    /* transform: translateY(-100%) scale(0.8); */
    transform: translate(3rem, -5rem);
    font-size: 2rem;
  }

h2{
    text-align: center;
    /* border:1px solid brown; */
    width:80%;

    margin:2rem auto ;
    border:none;
    border-radius:2rem;
     color: white;
     padding:0.5rem;
     background-color: teal;;
}

.inpCss{
    margin:.5rem 15%;
    padding: .5rem 2%;
   height: 1.5rem;
    
border:1px solid rgb(207, 200, 200);
border-radius: 1rem;
width:65%;
}
input:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
label{
    margin:.5rem 6rem;
    margin-left:15%;
    font-size: 0.8rem;
    color:grey;
}
input[type="submit"]{
    width:30%;
    margin-left: 60%;
    border-radius: 0.5rem;
    color:white;
background:rgb(129, 211, 211);
font-size:1.3rem;
border:none;
height: 2.5rem;
}

input[type="submit"]:hover{
    
background:teal;

}
input:focus{
    outline: none;
    border:1px solid rgb(156, 182, 182);
}


input[type="datetime-local"]::-webkit-datetime-edit-day-field,input[type="datetime-local"]::-webkit-datetime-edit-year-field,
input[type="datetime-local"]::-webkit-datetime-edit-month-field {
  color: teal; /* Specify the desired color */
 display: none;
}

input[type="datetime-local"]::-webkit-datetime-edit-hour-field,input[type="datetime-local"]::-webkit-datetime-edit-minute-field,
input[type="datetime-local"]::-webkit-datetime-edit-second-field {
  color:#f00 ; /* Specify the desired color */
  display: none;
}
/* input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
  } */